<div class="bg-img">
  <div class="container">
    <div class="topnav">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <%= link_to 'Create a cocktail', new_cocktail_path(@cocktail) %>
    </div>
    <div class="navbar-header">
      <span class="style">hjhjhjjhjhj</span>
    </div>
  </div>
</div> 
